/* BOOTSTRAP BREAKPOINTS 
Breakpoint	Class infix	Dimensions
X-Small	None    <576px
Small	sm	    ≥576px
Medium	md	    ≥768px
Large	lg	    ≥992px
Extra large	xl	≥1200px
Extra extra large	xxl	≥1400px */

* {
    box-sizing: border-box;
    outline: 1px solid red;
}

html {
    overflow-x: hidden;
}


/* COLOUR PALETTE */
$primary: #f77f00;
$secondary: #FAE7C9;
$tertiary: #f77f00;
$bright: green;
$body: #212529;

/* OUTER PADDING */
$padding-sm: 2rem;
$padding-md: 4rem;
$padding-lg: 8rem;

/* INNER SPACING */
$spacing-inner: 2rem;


/* TYPOGRAPHY */
h1, h2, h3 {
    font-family: 'Montserrat', serif;
    text-transform: uppercase;
}

h1 {
    font-weight: 900;
    font-size: 6rem;
}

span {
  font-size: 4rem;
}

h2 {
    font-size: 2rem;
    text-align: center;
    padding: 1rem;
}

h3 {
    font-size: 1rem;
    color: $tertiary;
}

h5 {
  font-family: 'Public Sans', serif;
  font-weight: bold;
  font-size: 3rem;
  text-transform: uppercase;
}

p {
    font-family: 'Public Sans', serif;
    font-size: 1rem;
}

i {
  padding: 5px;
  margin-right: 10px;
  color: white;
}

a {
  text-decoration: none;
  color: $body;
}

a:hover {
  color: $body;
  text-decoration: underline;
}

.active {
  opacity: 1.0 !important;
}

.divider {
    display: flex;
    width: 300px;
    margin: 1rem auto;
    align-items: center;
  }
  
.divider::before, .divider::after {
  flex: 1;
  content: '';
  border-bottom: 4px dotted $tertiary;
  margin: 5px;
}

label {
  font-weight: bold;
}

label, input, textarea, td {
  font-family: 'Public Sans', serif;
  font-size: 14px;
}

@media only screen and (max-width: 576px) {
  h1 {
    font-size: 3rem;
  }

  span {
    font-size: 2rem;
  }

  .divider {
    width: 100%;
  }
}

@media only screen and (max-width: 992px) {
  h1 {
    font-size: 4rem;
  }
}


/* BUTTONS */
.btn {
  font-family: 'Public Sans', serif;
  font-size: 14px;
  padding: 10px 18px;
  min-width: 140px;
  max-width: fit-content;
}

.btn-light {
  border-radius: 0;
  color: white;
  border: 4px solid $secondary;
  background-color: transparent;
}

.btn-light:hover {
  background-color: $secondary;
  border: 4px solid $secondary;
}

.btn-dark {
  background-color: $primary;
  border: none;
  border-radius: 1rem;
}

.btn-green {
  background-color: $bright;
  border: none;
  border-radius: 1rem;
}

.btn-dark:hover {
  background-color: $primary;
  border: none;
  transform: translateY(-4px);
  transition: ease 0.2s;
}

.btn-link {
  color: $tertiary;
  text-decoration: none;
  padding: 0;
  text-align: left;
}

.btn-link:hover {
  color: $tertiary;
  transform: translateY(-4px);
  transition: ease 0.2s;
}

.bi::before {
  vertical-align: -4px;
}

@media only screen and (max-width: 576px) {
  .btn {
    margin-bottom: $padding-sm;
  }
}

/* FOUNDATION OF HAMBURGER STYLE */
.hamburger {
    padding: 15px 15px;
    display: inline-block;
    cursor: pointer;
    transition-property: opacity, filter;
    transition-duration: 0.15s;
    transition-timing-function: linear;
    font: inherit;
    color: inherit;
    text-transform: none;
    background-color: transparent;
    border: 0;
    margin: 0;
    overflow: visible; 
}

/* CSS FOR WHEN SCREEN IS 992PX OR LARGER - BOOTSTRAP MEDIUM */
@media only screen and (min-width: 992px) {
  .hamburger {
    display: none;
  }
}

/* CHANGE APPEARANCE WHEN HAMBURGER CLICKED */
.hamburger.is-active .hamburger-inner,
.hamburger.is-active .hamburger-inner::before,
.hamburger.is-active .hamburger-inner::after {
    /* CHANGE COLOUR OF ACTIVE AMBURGER */
    background-color: $secondary; 
}

.hamburger-black.is-active .hamburger-inner, .hamburger-black.is-active .hamburger-inner::before, .hamburger-black.is-active .hamburger-inner::after, .hamburger-black .hamburger-inner, .hamburger-black .hamburger-inner::before, .hamburger-black .hamburger-inner::after {
  background-color: black;
}

.hamburger-white.is-active .hamburger-inner, .hamburger-white.is-active .hamburger-inner::before, .hamburger-white.is-active .hamburger-inner::after, .hamburger-white .hamburger-inner, .hamburger-white .hamburger-inner::before, .hamburger-white .hamburger-inner::after {
  background-color: white;
}

.hamburger-box {
    /* CHANGE WIDTH OF HAMBURGER BOX */
    width: 30px;
    height: 24px;
    display: inline-block;
    position: relative; }

.hamburger-inner {
    display: block;
    top: 50%;
    margin-top: -2px; 
}
    
.hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
    /* CHANGE WIDTH OF HAMBURGER */
    width: 30px;
    height: 4px;
    /* CHANGE COLOUR OF HAMBURGER */
    background-color: $secondary;
    /* CHANGE ROUNDNESS OF HAMBURGER */
    border-radius: 0px;
    position: absolute;
    transition-property: transform;
    transition-duration: 0.3s;
    transition-timing-function: ease; 
}

.hamburger-inner::before, .hamburger-inner::after {
content: "";
display: block; 
}

.hamburger-inner::before {
top: -10px; 
}

.hamburger-inner::after {
bottom: -10px; 
}

/* SLIDER */
.hamburger-slider .hamburger-inner {
    top: 2px; }
    .hamburger-slider .hamburger-inner::before {
      top: 10px;
      transition-property: transform, opacity;
      transition-timing-function: ease;
      transition-duration: 0.15s; }
    .hamburger-slider .hamburger-inner::after {
      top: 20px; }
  
  .hamburger-slider.is-active .hamburger-inner {
    transform: translate3d(0, 10px, 0) rotate(45deg); }
    .hamburger-slider.is-active .hamburger-inner::before {
      transform: rotate(-45deg) translate3d(-5.71429px, -6px, 0);
      opacity: 0; }
    .hamburger-slider.is-active .hamburger-inner::after {
      transform: translate3d(0, -20px, 0) rotate(-90deg); }

/* NAVIGATION BAR */
.navbar {
  z-index: 1000;
  width: 100%;
  position: fixed;
  padding: 15px;
  transition: ease 0.5s;
}

/* Mobile responsive design */
@media only screen and (max-width: 576px) {
  .navbar-brand h2 {
    font-size: 1.2rem;
    padding: 0.75rem;
  }
}


.navbar-colour {
  background-color: $primary;
}

.navbar-colour a {
  color: white;
}

.navbar-colour .nav-item a {
  color: white;
  opacity: 0.5;
}

.navbar-white {
  background-color: white;
}

.navbar-white a {
  color: black;
}

.navbar-white .nav-item a {
  color: black;
  opacity: 0.5;
}

.navbar .nav-item a:hover {
  opacity: 1.0;
  transition: ease 0.5s;
}

.navbar-transparent {
  background-color: rgba(0, 0, 0, 0.2);
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.navbar-transparent a {
  color: white;
}

.navbar-transparent .nav-item a {
  color: white;
  opacity: 0.5;
}

/* Make mobile responsive menu dark */
@media only screen and (max-width: 768px) {
  .navbar-transparent {
    background-color: rgba(0, 0, 0, 0.9);
  }
}

.show {
  padding: 0;
  margin: 0;
}

.navbar>.container-fluid {
  padding: 0;
}

.container {
  margin: $padding-md auto;
  padding: $padding-sm;
}

.container-fluid {
  padding: $padding-md;
}

.container-dark {
  background-color: $secondary;
}

.center {
  text-align: center;
}

.full-width {
  padding: 0;
  width: 100%;
}

@media only screen and (max-width: 768px) {
  .container-fluid img {
    width: 100%;
  }
}



/* LANDING PAGE SECTION */
.landing-page {
    padding: 0;
    background: black;
}

.landing-page p {
  font-size: 1.2rem;
}

.landing-page img {
    height: 100vh;
    width: 100%;
    object-fit: cover;
    filter: opacity(80%);
}

.landing-page-inner {
    width: 100%;
    padding: $padding-sm;
    position: absolute;
    top: calc(50vh - 90px);
    text-align: center;
    color: white;
}

/* LANDING PAGE QUARTER */
.landing-page.quarter, .landing-page.quarter img {
  height: 70vh;
}

.landing-page.quarter img {
  filter: opacity(50%);
}

.landing-page-inner.quarter {
  top: calc(35vh - 90px);
  text-align: left;
  width: 80%;
  left: 10%;
}

/* CARDS */
.card {
  border-radius: 0px;
  border: none;
  padding: 1rem;
}

.card-group {
  margin-top: $padding-sm;
}

.card-group .btn {
  margin: 0 auto;
}

.card.inline-card {
  margin: 0;
  height: 100%;
}

.card:hover {
  background-color: black;
  color: white;
}

.card:not(:last-child), .col-sm-4:not(:last-child), .col-md-6:not(:last-child) {
  margin-bottom: $padding-sm;
}

.card-img, .card-img-top {
border-radius: 0px;;
}

.inline-card h5 {
  position: absolute;
  color: white;
  font-size: 3rem;
  text-transform: uppercase;
  padding: 0.75rem;
}

@media only screen and (max-width: 768px) {
  .card-group>.card {
    flex: auto;
  }
  .card-img-top {
    margin: 0 auto;
    max-width: 450px;
    max-height: 300px;
    object-fit: cover;
  }
}

@media only screen and (max-width: 992px) {
  .inline-card h5 {
    font-size: 1.8rem;
  }

  .card-title {
    font-size: 2rem;
  }
}

/* ROW */
.row {
  margin: 0;
  --bs-gutter-x: 0;
}

.row img {
  width: 100%;
}

.row .card {
  margin-bottom: $padding-sm;
}

.no-space .col-md-6 {
  padding: 0;
  margin-bottom: 0 !important;
}

/* COLUMNS */
.col-sm-4, .col-md-6 {
  padding: 1rem;
}

.col-md-6 img {
  width: 100%;
}

/* MODAL */
.modal {
  overflow: hidden;
}

.modal.show {
  overflow: hidden;
  padding-right: 0 !important;
}

.modal-header {
  padding: 0.5rem;
}

.modal-dialog {
  max-width: 1000px;
  width: 100%;
  margin: 2rem auto;
}

.modal img {
  width: 100%;
}

body.modal-open {
  padding-right: 0 !important;
}


/* IMAGE GRID */
.image-grid .row {
  padding-bottom: 2rem;
}

@media only screen and (max-width: 768px) {
  .image-grid .col-md-3 {
    margin-bottom: $padding-sm;
  }

  .image-grid .row:nth-child(2) {
    display: none;
  }  
}

@media only screen and (max-width: 992px) {
  .image-grid {
    padding: 0;
  }

  .image-grid .col-md-3 {
    padding: 5px;
  }

  .image-grid .row {
    padding: 0;
  }
}



/* CAROUSEL */
#carousel-container {
  height: 500px;
  text-align: center;
}

.carousel-inner {
  height: 100%;
}

.carousel-inner img {
  -o-object-fit: contain;
     object-fit: contain;
}

.carousel-indicators .active {
  background-color: black;
}

.carousel-indicators li {
  position: relative;
  flex: 0 1 auto;
  width: 30px;
  height: 3px;
  margin-right: 3px;
  margin-left: 3px;
  text-indent: -999px;
  background-color: rgba(0, 0, 0, 0.5);
}

.carousel-indicators.carousel-round li {
  border-radius: 100%;
  height: 15px;
  width: 15px;
  margin: 0 5px;
}

.carousel-indicators.carousel-round {
  position: relative;
  top: 20px;
}

.carousel-control-next, .carousel-control-prev {
  color: black;
}

.carousel-control-prev-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='%23000000' width='8' height='8' viewBox='0 0 8 8'%3e%3cpath d='M5.25 0l-4 4 4 4 1.5-1.5L4.25 4l2.5-2.5L5.25 0z'/%3e%3c/svg%3e");
}

.carousel-control-next-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000000' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
}


/* CAROUSEL MULTIPLE CARD VIEW */
.wrapper {
  width: 70%;
  position: relative;
  margin: 0 auto;
}
.wrapper i {
  top: 50%;
  width: 50px;
  cursor: pointer;
  font-size: 1.25rem;
  position: absolute;
  text-align: center;
  line-height: 50px;
  color: black;
  z-index: 100;
  transform: translateY(-50%);
  transition: transform 0.1s linear;
}

#left { 
  left: -51px;
}

#right {
  right: -60px;
}
.wrapper .carousel-multiple {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: calc(100% / 3);
  overflow-x: auto;
  scroll-snap-type: x mandatory;

  scroll-behavior: smooth;
  scrollbar-width: none;
}

.wrapper ul {
  margin-block-start: 0;
  margin-block-end: 0;
  padding-inline-start: 0px;
}

.carousel-multiple::-webkit-scrollbar {
  display: none;
}
.carousel-multiple.no-transition {
  scroll-behavior: auto;
}
.dragging {
  scroll-snap-type: none;
  scroll-behavior: auto;
}
.dragging .card {
  cursor: grab;
  user-select: none;
}
.carousel-multiple :where(.card, .img) {
  display: flex;
  justify-content: center;
  align-items: center;
}
.carousel-multiple .card {
  scroll-snap-align: start;
  height: 400px;
  list-style: none;
  background: #fff;
  cursor: pointer;
  flex-direction: column;
}

.carousel-multiple .card > * {
  margin-bottom: 1rem;
}

.carousel-multiple  .card .img img {
  width: 140px;
  height: 140px;
  border-radius: 50%;
  object-fit: cover;
}

/* CHANGE MULTI CARD CAROUSEL TO 2 CARDS ON SMALLER SCREENS */
@media screen and (max-width: 768px) {
  .wrapper .carousel-multiple {
    grid-auto-columns: calc(100% / 2);
  }

}
@media screen and (max-width: 576px) {
  .wrapper .carousel-multiple {
    grid-auto-columns: 100%;
  }
}

/* VERTICAL TAB CONTENT */
.d-flex {
  margin: $padding-sm auto;
}

.nav-link {
  color: $body;
  font-family: "Public Sans", serif;
  font-weight: bold;
  font-size: 14px;
  width: 140px;
}

.nav-link:hover {
  color: $body;
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
  background-color: $primary;
}

.d-flex .image-grid {
  margin: 0;
}

.d-flex .image-grid .col-md-3 {
  padding: 10px;
}


/* LOGO BOX */
.logo-box {
  text-align: center;
}

.logo-box .row {
  justify-content: center;
}

.logo-box img {
  width: 200px;
}

.logo-box .col-md-4 {
  margin: 0 0 $padding-sm 0;
  padding: 0;
}

/* FORMS */
/* Style inputs with type="text", select elements and textareas */
input[type=text], input[type=email], input[type=tel], input[type=date], select, textarea {
    width: 100%; /* Full width */
    padding: 12px; /* Some padding */ 
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
  }
  
/* Style the submit button with a specific background color etc */
input[type=submit] {
  font-family: 'Public Sans', serif;
  font-size: 14px;
  padding: 10px 18px;
  width: 140px;
  color: white;
  background-color: $primary;
  border: none;
  border-radius: 1rem;
  cursor: pointer;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
  transform: translateY(-4px);
  transition: ease 0.2s;
}

/* ACCORDION  */
.accordion .btn-link {
  color: $primary;
}

.accordion .btn-link:hover, .accordion .btn-link:active, .accordion .btn-link:focus {
  text-decoration: none;
}

.accordion .card {
  margin-bottom: 0;
}

/* FOOTER */
footer {
  background: $primary;
  color: $secondary;
  background: url(assets/img/broken_noise.png);
}

footer h3 {
  color: white;
}

footer a {
  color: $secondary;
}

footer a:hover {
  color: $secondary;
}

.table {
  color: $secondary;
}

footer .col-md-6 {
  padding: $padding-sm;
}

footer ul {
  list-style-type: none;
  margin-block-start: 0;
  margin-block-end: 0;
  padding-inline-start: 0;
}

footer li {
  display: block;
}

/* WHITE FOOTER */
.footer-white {
  background: white;
  color: black;
}

.footer-white .socials-box {
  margin-top: 0;
}

/* SOCIALS BOX */
.socials-box {
  margin-top: $padding-sm;
  padding: 0.75rem;
}

.socials-box i:hover {
  color: $secondary;
}

@media only screen and (max-width: 991px) and (min-width: 768px) {
  .socials-box a {
    margin-top: $padding-sm;
  }
}


/* COPYRIGHT BANNER */
.copyright-banner {
  background: black;
  color: white;
  height: 50px;
  text-align: center;
  font-family: 'Public Sans', sans-serif;
  height: 100%;
  padding: 10px;
  text-transform: uppercase;
  font-size: 0.8rem;
}